type cne_service,                 service_manager_type;
type uce_service,                 service_manager_type;
type dpmservice,                  service_manager_type;
